#album_comment_view
{
    font : 18 bold ;
}

#bottom_bar
{
    height : 60;
    button_width : 60;
}

#navigation_bar
{
    landscape_height : 44;
}

#mainframe_table
{
	/*主会话列表项高度*/
	cell_height: 80;
	/*分割线颜色*/
	cell_line_color:#DEDEDE;
	/*top margin*/
	cell_headimg_top_margin:7;
	cell_msglabel_top_margin:15;
	cell_badge_top_margin:-1;
	cell_reddot_top_margin:3;
	/*left margin*/
	cell_headimg_left_margin:10;
	cell_badge_left_margin_of_center_point:70; 
    cell_badge_left_margin_of_center_point_2digit:66; /*两位数以上*/
	cell_reddot_left_margin:60;
	/*right margin*/
	cell_timelabel_right_margin:15;
	/*headimg size*/
	cell_headimg_size: 60 60;
}

#themeMainframeItemView
{
	/*headimg outter frame*/
	HeadFrame : 5 0 66 66 ;
}

#fill_phone_view_offset
{
    regBtn : 10;
    countryCode : 8;
    pwdView : 8;
    loginBtn : 10;
}

#first_user_view_offset
{
    loginBtn : 15;
    languageBtnY : 3;
    languageBtnX : 40;
    loginBtnWidth : 190;
    loginBtnHeight : 50;
    loginBtnMarginBottom : 75;
    loginBtnMarginBottomLandScape : 30;
    loginBtnMarginLeft : 134;
    loginBtnMarginLeftLandScape : 190;
}

#login_last_user_view 
{
    labelUserNameY : 20;
    textBackViewY : 40;
    btnLoginY : 35;
    textBackViewWidth : 380;
    btnLoginWidth : 376;
}

#common_default
{
    common_font_size : 18;
    common_font_small_size : 12;
    keyboard_height_portrait : 264;
    keyboard_height_landscape : 352;
}

#message_content_viewController 
{
    content_sepm_margin : 15;
}

#message_node_view 
{
    /*文本节点宽度*/
    text_message_node_width : 460;
    /* width = screen_width - inset */
    text_message_node_landscape_inset : 133;
    
    /*头像*/
    messgae_node_headImg_width : 50;
    message_node_headImg_height : 50;
    message_node_headImgBorder_width : 57;
    messgae_node_headImgBorder_height : 57;
    message_node_headImgBorder_leftMargin : 17;
    message_node_headImgBoeder_contentMargin : 6;
    
    message_node_content_rightMargin : 16;
    message_node_contentView_leftMargin : 10;
    message_node_contentView_arrowWidth : 10;
    message_node_contentView_rightMargin : 12;
    message_node_contentView_topMargin : 15;
    message_node_contentView_bottomMargin : 15;
    
    message_node_timeNode_height : 25;
    message_node_timeNode_fontSize : 16;

    message_node_voiceNode_contentMargin : 6;
    message_node_voiceNode_strech_topWidth : 34;
    
    message_node_imageNode_maxSizeLimit : 320;
    
    message_node_activity_x : -8;
}

/*输入框*/
#input_tool_view_tool 
{
    /*tool view height*/
    tool_view_height : 60;
    tool_view_btn_width : 40;
    tool_view_btn_height : 40;
    tool_view_voiceBtn_height : 50;
    tool_view_textView_height : 32;
    tool_view_textView_max_height : 100;

    /*element inset*/
    tool_view_btn_topMargin : 10;
    tool_view_textView_topMargin : 9;
    tool_view_textView_contentInset_top : 3;
    tool_view_textView_contentInset_bottom : 3;
    tool_view_element_margin : 15;
    tool_view_element_inner_margin : 10;
    
    tool_view_textView_fontSize : 18;
    
    tool_view_textview_bgImageView_edgeInsetTop : 6;
    tool_view_textview_bgImageView_edgeInsetBottom : 6;
}

/* 输入框附件栏 */
#input_tool_view_attachment 
{
	/*icon的大小*/
	text_attachment_item_width : 80;
	text_attachment_item_height : 80;
	/*badge*/
	text_attachment_badge_offset : 48 -10;
	/*键盘高度*/
	text_attachment_height:264;

    /*实际图片位置及大小*/
    text_attachement_rect : 0 0 80 80 ;
}

/*QQ表情面板*/
#QQEmojiGridView 
{
	m_edgeLeft : 35;
	m_edgeTop : 15;
	m_intervalY : 25;
	m_intervalX : 45;
	m_itemWidth : 45;
	m_itemHeight : 45;
}

/*QQ表情预览*/
#QQEmojiViewWithPreview
{
    emojiPreviewBackViewScaleX : 2;
    emojiPreviewBackViewScaleY : 2.9;
}

/*表情管理cell*/
#EmoticonManageCell
{
    buttonMarginRight_IOS6 : 105;
    buttonMarginRight_IOS7 : 15;
}

/*表情面板的导航器*/
#EmoticonBoardPageController
{
    QQEmojiOffsetY : -16;
    EmoticonOffsetY : -25;
    EmoticonOffsetY_desc : -15;
}

/*商店表情面板*/
#EmoticonGridView 
{
	m_row : 2;
	m_column : 4;
	m_edgeLeft : 20;
	m_edgeTop : 30;
	m_intervalY : 20;
	m_edgeTop_desc : 28;
	m_intervalY_desc : 28;
	m_intervalX : 18;
	m_itemWidth : 66.5;
	m_itemHeight : 66.5;
}

/*朋友圈timeline*/
#WCTimeLineViewController {
    head_view_height : 400;
    lineview_padding_left : 40;
    lineview_padding_right : 40;

    input_view_height : 53;
    inputView_width_inset : 60;
    expression_btn_topMargin : 0;
    comment_cell_bottom_margin : 7;
    timeline_cell_bottom_margin : 0;
    
    emotion_tabbar_height : 264;
}

#WCTimelineCellView {
    default_font_size : 18;
    small_font_size : 15;

    /* sceenwidth - text_message_width_inset = text width */
    text_message_width_inset : 152;    
    text_line_width : 616;

    headimage_view_len : 60;
    headimage_padding_right : 10;

    margin_left : 40;
    margin_top : 20;
    margin_right : 40;
    margin_bottom : 15;

    subview_padding_height : 15;
    subview_next_padding_height_L : 15;
    subview_next_padding_height_S : 10;

    default_lable_height : 20;

    nickname_label_padding_top : 5;
    nickname_label_padding_bottom : 10;
    nickname_label_padding_right : 5;

    operation_btn_right_margin : 0;
    fulltext_view_bottom_margin : 10;

    /*长文本计算*/
    text_single_line_height : 22.5;
    text_line_height : 23;
    text_desc_content_height : 44;
}

#WCListHeaderView {
    headimage_bkg_view_padding_right : 30;
    headimage_bkg_view_len : 120;
    nick_label_font_size : 25;
    sign_label_font_size : 16;
    sign_label_padding_left : 30;
    sign_label_padding_right : 30;
    sign_label_padding_top : 10;
}

#WCTimeLineCommentCellView {
    comment_view_width : 618;
    padding_left : 110;
    padding_left_offset : 0;
    
    text_font_size : 18;
    
    like_content_margin : 10;
    comment_content_margin_left : 10;
    comment_content_margin_top : 7;
    comment_content_margin_bottom : 7;
}

#WCTimeLineCellMediaContentView {
    /*template gird*/
    multi_image_len : 150;
    image_size_max_len : 300;
    image_gird_step_len : 5;
    
    /*template news*/
    link_area_width : 360;
    client_rect_margin : 0;
    news_image_len : 120;
    link_font_size : 16;
    link_title_font_size : 19;
    subview_margin : 10;
    title_top_margin : 15;
    news_title_single_line_height : 20;
    
    /*template classic*/
    cover_image_len : 120;
    music_title_single_line_height : 20;
    music_play_button_len : 120;
}

/* 我的相册 */
#WCListView {
    head_view_height : 400;
}

#WCListViewRowView {
    time_label_padding_left : 0;
    time_label_margin_left : 40;
    time_label_width : 173;
    day_label_font_size : 44;
    month_label_font_size : 22;
    month_label_height : 20;
    month_label_move_bottom : 11;
    city_label_font_size : 16;
    city_label_padding_top : 20;
    city_label_width : 95;
    city_label_height : 29;
    section_padding_height : 40;
    section_cell_padding_height : 10;
    photo_item_size : 150;
    photo_item_label_padding_left : 20;
    photo_item_desc_label_font_size : 19;
    photo_item_count_label_font_size : 16;
    photo_item_count_label_height : 18;
}

#WCListViewRowContentView {
    content_view_width : 555;
    content_view_height : 140;
    content_view_margin : 10;
    content_view_padding : 10;
    content_view_media_margin : 0;
    content_view_media_height : 120;
    default_text_font_size : 19;
    default_text_line_height : 23;
}

/*朋友圈详情*/
#WCComentDetailViewControllerFB {
    headerView_head_image_len : 60;
    headerview_head_left_margin : 40;
    desc_content_inset : 0;
    operation_btn_right_margin : 40;
    comment_head_image_len : 45;
    comment_head_count_perline : 11;
    comment_view_left_margin : 110;
    comment_view_width : 618;
}

#WCCommentView {
    time_font_size : 14;
    normal_font_size : 18;
    content_font_size : 18;
    content_top_margin : 15;
    content_bottom_margin : 15;
    content_right_margin : 10;
    time_label_right_margin : 15;
    head_image_right_margin : 10;
    name_label_bottom_margin : 6;
}

#WCCommitViewController {
    textInput_view_topMargin : 10;
    textInput_view_inset : 15;
}

#VoiceSearchBar {
    offsetX_iOS_7_plus : 35;
    offsetX : 32;
}

#ShakeMainView {
    UpViewLogo_Width : 220;
    UpViewLogo_Height : 120;
    DownViewLogo_Width : 220;
    DownViewLogo_Height : 120;
    SingleView_Y : 120;
}

#TrackRoomMessageNode {
    icon_top_padding : 12;
    text_top_padding : 18;
}

#VoipContentNodeView {
    status_tips_y_offset : 20;
    content_view_y_offset_for_video : 14;
    content_view_y_offset_for_audio : 12;
}

#WXTalkMain {
    headlist_bkg_left : 0;
    headlist_bkg_top : 0;
    headlist_top : 114;
    headlist_width : 680;
    headlist_height : 212;
    headlist_scroll_top : 20;
    headlist_scroll_height : 139;
    headlist_membercount_left : 58;
    headlist_member_item_height : 140;
    headlist_head_item_height : 124;
    headlist_head_image_height : 120;
    headlist_head_image_left : 10;
    headlist_member_item_space : 14;
    headlist_tips_left : 172;
    headlist_timer_right_margin : 110;
    headlist_timer_width : 120;
    headlist_label_bottom_margin : 27;
    headlist_label_height : 26;
    headlist_label_fontsize : 20;
    meter_top : 391;
    meter_top_talking : 123;
    meter_width : 706;
    meter_height : 264;
    led_left : 629;
    push_button_top : 500;
}

#CameraScan {
    qrcode_tips_height : 40;
    book_tips_height : 30;
    ocr_top : 104;
}
