
#bottom_bar
{
    height : 49 ;
    button_width : 75;
}

#navigation_bar
{
    landscape_height : 32;
}

.claimerText
{
	backgroundColor : clear;
	textColor : #555555;
	font : 14;
	shadowColor : #fff;
	shadowOffset : 0 1;
}

.themeSettingView
{
    table_edge : 10 0 10 0;
	cell_height : 58;
    cell_frame : 0 0 300 58;
    cell_offset : 5;
    
	mask_image : "ThemeSetFrame.png";
	selected_image : "profile_botStatusOn.png";
	download_image : "ThemeSetDown.png";
	downloadHL_image : "ThemeSetDownHL.png";
	downloadingMask_image : "ThemeSetDown.png";
    progress_image : "ThemeProgress.png";
}

#themeSettingSelectedViewImage
{
    frame : 260 20 17 17;
}

#themeSettingViewDownProgress
{
    frame : 178 20 18 18;   
    /*backgroundColor : rgba(0,255,0,0.5);*/
}

#themeSettingDownProgressLabel
{
    frame : 200 14 35 30;
    textAlignment : 0;
	textColor :cell_value_text_color;
	font : 14;
    /*    backgroundColor : rgba(0,0,255,0.5);*/
}

#themeSettingDownMaskView
#themeSettingMaskViewImage
#themeSettingViewImage
{
	frame : 5 5 47 47;
}

#themeSettingViewLabelHeader
{
	frame : 58 20 110 17;
    /*    backgroundColor : rgba(255,0,0,0.5);*/
    textAlignment : 0;
	textColor :cell_label_text_color;
/*    shadowColor : #0c0c0c;
    shadowOffset : 0 1; */
	font : 17 bold;
}

#themeSettingViewDownIndicatorLabel
{
	/*frame : 65 58 100 20;*/
    /* backgroundColor : rgba(128,0,0,0.5) ; */
	backgroundColor : clear;
	/*textColor : #fff;*/
	font : 14 bold;
    /*	shadowColor : #000;
     shadowOffset : 0 1; */
	textAlignment : 0;
}

#themeSettingCancelingLabel
#themeSettingCancelBtn
#themeSettingDownBtn
{
	frame : 235 14 60 30;
}

#themeSettingDownBtn
{
    titleColor : #fff;
	backgroundImage : "GreenBtn.png" 21 15;
	backgroundImageHL : "GreenBtnHighlight.png" 21 15;
}

#themeSettingCancelBtn
{
    titleColor : #000;
	backgroundImage : "OpBtn.png" 21 15;
	backgroundImageHL : "OpBtnHighlight.png" 21 15;
}

#themeSettingCancelingLabel
{
    titleColor : cell_value_text_color;
}

#themeMainframeItemView
{
	HeadFrame : 5 0 52 52 ;
	TimeFrame : 174 8 120 25 ;
	
}

#themeContactItemView
{
	LeftPad : 0 ;
    
}
/*   主界面 */
#mainframe_head_image{
	border_width: 0; 
	border_color:#ffefdc ;
	shadow_width: 3; 
	shadow_color:#d8b88e ; 
}
#mainframe_table{
	/*主会话列表项高度*/
	cell_height: 65;
	/*分割线颜色*/
	cell_line_color:#DEDEDE;
	/*顶部offset*/
	cell_headimg_top_margin:5;
	cell_msglabel_top_margin:5;
	cell_badge_top_margin:-3;
	cell_reddot_top_margin:-1;
	/*left margin*/
	cell_headimg_left_margin:7;
	cell_badge_left_margin_of_center_point:51;
    cell_badge_left_margin_of_center_point_2digit:49; /*两位数以上*/
	cell_reddot_left_margin:43;
	/*right margin*/
	cell_timelabel_right_margin:8;
	/*headimg size*/
	cell_headimg_size: 46 46;
}
/*  会话界面 */
#message_head_image{
	border_width: 0; 
	border_color:#ffefdc ;
	shadow_width: 3; 
	shadow_color:#d8b88e ; 
}
/*  通讯录界面 */
#contact_head_image{
	border_width: 0; 
	border_color:#ffefdc ;
	shadow_width: 3; 
	shadow_color:#d8b88e ; 
}
/*  名片界面 */
#sendcard_head_image{
	border_width: 0; 
	border_color:#ffefdc ;
	shadow_width: 3; 
	shadow_color:#d8b88e ; 
}
/*  详细信息界面 */
#protile_head_image{
	border_width: 0; 
	border_color:#ffefdc ;
	shadow_width: 3; 
	shadow_color:#d8b88e ; 
}
/*  底栏图标和文字 */
#tabbar_button_frame{
    frame: 0 0 80 49 ;
    font: 10 bold;
}
/* iPad 底栏图标和文字 */
#tabbar_button_frame_iPad{
    frame: 0 0 60 60 ;
    font: 10 bold;
}
/* 未读数图标拉伸范围  */
.unread_image{
	tabbar_unread_image: "tabbar_badge.png" 14.5 14  ; 
}

.chatBackground{
    background_color : #201F1F;
}

.res_package_size {
	res_1 : 1416278;
	res_2 : 595424;
	res_3 : 964648;		
}

#album_comment_view
{
    font : 13 bold ;
}

#phone_verify_view
{
    font : 16 bold ;
}


#shake_pass_photos_content
{
    font : 15  ;
}

#wc_stranger_username
{
    font : 14 bold;
}

#wc_pay_agreement
{
    font : 14 ;
}

#wc_offlinepay_agreement
{
    font : 16 ;
}

#wc_list_multi_media
{
    font : 13 ;
}

#sync_phone_contact
{
    font : 13 ;
}

#float_bottle_brand_user {
    head_image_frame: 37 26.5 32 32;
    head_image_rotate: -60;    
}

#svr_error_view
{
    font : 14 ;
}


#multi_msg_2_fav_nick
{
    font : 17 bold ;
}
#fill_phone_view_offset
{
    regBtn : 7;
    countryCode : 5;
    pwdView : 5;
    loginBtn : 6;
}

#first_user_view_offset
{
    loginBtn : 0;
    languageBtnY : 0;
    languageBtnX : 0;
    loginBtnWidth : 115;
    loginBtnHeight : 50;
    loginBtnMarginBottom : 17;
    loginBtnMarginBottomLandScape : 17;
    loginBtnMarginLeft : 17;
    loginBtnMarginLeftLandScape : 17;
}

#login_last_user_view 
{
    labelUserNameY : 9;
    textBackViewY : 17;
    btnLoginY : 13;
    textBackViewWidth : 292;
    btnLoginWidth : 288;
}

#common_default
{
    common_font_size : 16;
    common_font_small_size : 12;
    keyboard_height_portrait : 216;
    keyboard_height_landscape : 162;
}

#message_content_viewController 
{
    content_sepm_margin : 3;
}

#message_node_view {
    /*文本节点宽度*/
    text_message_node_width : 187;
    /* width = screen_width - inset */
    text_message_node_landscape_inset : 133;
    
    /*头像*/
    messgae_node_headImg_width : 40;
    message_node_headImg_height : 40;
    message_node_headImgBorder_width : 47;
    messgae_node_headImgBorder_height : 47;
    message_node_headImgBorder_leftMargin : 7;
    message_node_headImgBoeder_contentMargin : 3;
    
    message_node_content_rightMargin : 9;
    message_node_contentView_leftMargin : 10;
    message_node_contentView_arrowWidth : 10;
    message_node_contentView_rightMargin : 8;
    message_node_contentView_topMargin : 14;
    message_node_contentView_bottomMargin : 20;

    message_node_timeNode_height : 20;
    message_node_timeNode_fontSize : 12;

    message_node_voiceNode_contentMargin : 0;
    message_node_voiceNode_strech_topWidth : 27;
    
    message_node_imageNode_maxSizeLimit : 120 ;
    
    message_node_activity_x : -3;
}

/*输入框*/
#input_tool_view_tool {
    /*tool view height*/
    tool_view_height : 45;
    tool_view_btn_width : 35;
    tool_view_btn_height : 35;
    tool_view_voiceBtn_height : 40;
    tool_view_textView_height : 26;
    tool_view_textView_max_height : 98;
    
    /*element inset*/
    tool_view_btn_topMargin : 5;
    tool_view_textView_topMargin : 6;
    tool_view_textView_contentInset_top : 6;
    tool_view_textView_contentInset_bottom : 6;
    tool_view_element_margin : 0;
    tool_view_element_inner_margin : 0;
    
    tool_view_fontSize : 16;
    
    tool_view_textview_bgImageView_edgeInsetTop : 5;
    tool_view_textview_bgImageView_edgeInsetBottom : 5;
}

/* 输入框附件栏 */
#input_tool_view_attachment {
	/*icon的大小*/
	text_attachment_item_width : 59;
	text_attachment_item_height : 60;
	/*badge*/
	text_attachment_badge_offset : 26 -10;
	/*键盘高度*/
	text_attachment_height:216;

    /*实际图片位置及大小*/
    text_attachement_rect : 2.5 2.5 54 54 ;
}

/*QQ表情面板*/
#QQEmojiGridView {
	m_edgeLeft : 10;
	m_edgeTop : 15;
	m_intervalY : 18;
	m_intervalX : 12;
	m_itemWidth : 30;
	m_itemHeight : 30;
}

/*表情管理cell*/
#EmoticonManageCell
{
    buttonMarginRight_IOS6 : 10;
    buttonMarginRight_IOS7 : 15;
}

/*QQ表情预览*/
#QQEmojiViewWithPreview
{
    emojiPreviewBackViewScaleX : 2;
    emojiPreviewBackViewScaleY : 3.5;
}

/*表情面板的导航器*/
#EmoticonBoardPageController
{
    QQEmojiOffsetY : -16;
    EmoticonOffsetY : -23;
    EmoticonOffsetY_desc : -13;
}

/*商店表情面板*/
#EmoticonGridView {
	m_row : 2;
	m_column : 4;
	m_edgeLeft : 20;
	m_edgeTop : 18;
	m_intervalY : 15;
	m_edgeTop_desc : 10;
	m_intervalY_desc : 23;
	m_intervalX : 18;
	m_itemWidth : 56.5;
	m_itemHeight : 56.5;
}

/*朋友圈timeline*/
#WCTimeLineViewController {
    head_view_height : 256;
    lineview_padding_left : 0;
    lineview_padding_right : 0;
    
    input_view_height : 45;
    inputView_width_inset : 60;
    expression_btn_topMargin : 0;
    comment_cell_bottom_margin : 4;
    timeline_cell_bottom_margin : 5;
    
    emotion_tabbar_height : 214;
}

#WCTimelineCellView {
    default_font_size : 14;
    small_font_size : 12;

    /* sceenwidth - text_message_width_inset = text width */
    text_message_width_inset : 70;
    text_line_width : 250;

    headimage_view_len : 42;
    headimage_padding_right : 10;

    margin_left : 10;
    margin_top : 12;
    margin_right : 14;
    margin_bottom : 15;

    subview_padding_height : 5;
    subview_next_padding_height_L : 7;
    subview_next_padding_height_S : 4;

    default_lable_height : 20;

    nickname_label_padding_top : 0;
    nickname_label_padding_bottom : 5;
    nickname_label_padding_right : 5;

    operation_btn_right_margin : 2;
    fulltext_view_bottom_margin : 2;

    /*长文本计算*/
    text_single_line_height : 16.8;
    text_line_height : 18;
    text_desc_content_height : 17;
}

#WCListHeaderView {
    headimage_bkg_view_padding_right : 10;
    headimage_bkg_view_len : 82;
    nick_label_font_size : 18;
    sign_label_font_size : 14;
    sign_label_padding_left : 16;
    sign_label_padding_right : 12;
    sign_label_padding_top : 15;
}

#WCTimeLineCommentCellView {
    comment_view_width : 254;
    padding_left : 55;
    padding_left_offset : 4;
    
    text_font_size : 13;
    
    like_content_margin : 6;
    comment_content_margin_left : 8;
    comment_content_margin_top : 3;
    comment_content_margin_bottom : 4;
}

#WCTimeLineCellMediaContentView {
    /*template gird*/
    multi_image_len : 74;
    image_size_max_len : 150;
    image_gird_step_len : 4;
        
    /*template news*/
    link_area_width : 250;
    client_rect_margin : 5;
    news_image_len : 40;
    link_font_size : 14;
    link_title_font_size : 14;
    subview_margin : 5;
    title_top_margin : 0;
    news_title_single_line_height : 18;
    
    /*template classic*/
    cover_image_len : 40;
    music_title_single_line_height : 18;
    music_play_button_len : 75;
}

/* 我的相册 */
#WCListView {
    head_view_height : 320;
}

#WCListViewRowView {
    time_label_padding_left : 4;
    time_label_margin_left : 4;
    time_label_width : 83;
    day_label_font_size : 29;
    month_label_font_size : 13;
    month_label_height : 14;
    month_label_move_bottom : 7;
    city_label_font_size : 13;
    city_label_padding_top : 0;
    city_label_width : 70;
    city_label_height : 30;
    
    section_padding_height : 25;
    section_cell_padding_height : 4;
    photo_item_size : 75;
    photo_item_label_padding_left : 4;
    photo_item_desc_label_font_size : 13;
    photo_item_count_label_font_size : 11;
    photo_item_count_label_height : 15;
}

#WCListViewRowContentView {
    content_view_width : 233;
    content_view_height : 50;
    content_view_margin : 5;
    content_view_padding : 5;
    content_view_media_margin : 5;
    content_view_media_height : 50;
    default_text_font_size : 14;
    default_text_line_height : 18;
}

/*朋友圈详情*/
#WCComentDetailViewControllerFB {
    headerView_head_image_len : 40;
    headerview_head_left_margin : 12;
    desc_content_inset : 5;
    operation_btn_right_margin : 14;
    comment_head_image_len : 35;
    comment_head_count_perline : 6;
    comment_view_left_margin : 10;
    comment_view_width : 300;
}

#WCCommentView {
    time_font_size : 12;
    normal_font_size : 14;
    content_font_size : 13;
    content_top_margin : 5;
    content_bottom_margin : 9;
    content_right_margin : 0;
    time_label_right_margin : 10;
    head_image_right_margin : 5;
    name_label_bottom_margin : 4;
}

#WCCommitViewController {
    textInput_view_topMargin : 10;
    textInput_view_inset : 10;
}

#VoiceSearchBar {
    offsetX_iOS_7_plus : 13;
    offsetX : 32;
}

#ShakeMainView {
    UpViewLogo_Width : 150;
    UpViewLogo_Height : 83;
    DownViewLogo_Width : 150;
    DownViewLogo_Height : 82;
    SingleView_Y : 85;
}

#TrackRoomMessageNode {
    icon_top_padding : 8;
    text_top_padding : 14;
}

#VoipContentNodeView {
    status_tips_y_offset : 16;
    content_view_y_offset_for_video : 10;
    content_view_y_offset_for_audio : 8;
}

#WXTalkMain {
    headlist_bkg_left : 10;
    headlist_bkg_top : 6;
    headlist_top : 43;
    headlist_width : 306;
    headlist_height : 102;
    headlist_scroll_top : 16;
    headlist_scroll_height : 58;
    headlist_membercount_left : 34;
    headlist_member_item_height : 58;
    headlist_head_item_height : 52;
    headlist_head_image_height : 50;
    headlist_head_image_left : 4;
    headlist_member_item_space : 6;
    headlist_tips_left : 72;
    headlist_timer_right_margin : 65;
    headlist_timer_width : 50;
    headlist_label_bottom_margin : 12;
    headlist_label_height : 15;
    headlist_label_fontsize : 13;
    meter_top : 163;
    meter_top_talking : 41;
    meter_width : 294;
    meter_height : 110;
    led_left : 262;
    push_button_top : 209;
}

#CameraScan {
    qrcode_tips_height : 50;
    book_tips_height : 20;
    ocr_top : 166;
}


/*通用搜索框*/
#widget_searchbar{
	cell_image: "widget_searchbar_cell_bg.png"  1 1  ;

	/*输入框*/
	textfield_image: "widget_searchbar_textfield.png";
    
    text_cancel_color: #06bf04;
}
/*黑色全局搜索框*/
#widget_searchbar_black{
	/*输入框*/
	textfield_width: auto;
	textfield_height: 28;
	textfield_image: "widget_searchbar_black_textfield.png" 1 1 ;
	textfield_left_margin: 8;
	textfield_right_margin: 9;

	/*搜索图标*/
	icon_search_image:"widget_searchbar_icon_search.png";
	icon_search_left_margin: 6;

	/*录音图标*/
	icon_voice_right_margin: 10;
	icon_voice_image_nor:"widget_searchbar_black_icon_voice_nor.png";
	icon_voice_image_pressed: "widget_searchbar_black_icon_voice_pressed.png";

	/*搜索文字 默认状态*/
	text_search_font: 13;
	text_search_color_nor: #929292;
	text_search_color_input: #FFFFFF;

	/*取消文字*/
	text_cancel_font: 16;
	text_cancel_color: #06bf04;
	text_right_margin: 9;
	text_cancel_opacity_pressed: 0.5;
}
/*顶栏属性*/
#mainframe_topbar{
	/*全局搜索图标*/
	icon_search_image:"barbuttonicon_search";
	icon_search_left_margin:10;
}

/*基本tipsbar*/
#widget_tipsbar_base{
	/*cell高度和背景*/
	cell_height: 44;
	cell_image_nor: "Connectkeyboad_banner_bg";
	cell_image_pressed: "Connectkeyboad_banner_bg_hl";
	/*警告类型cell背景*/
	cell_image_alert: "PromptBarBkg";
	cell_image_alert_pressed: "PromptBarBkg_pressed";
	/*广告类型cell背景*/
	cell_image_notice: "SystemTip_cellphoneContacts";
	cell_image_notice_pressed: "SystemTip_cellphoneContacts_pressed";

	/*文本*/
	text_font: 14;
	/*采用透明度控制*/
	text_color:rgba(0,0,0,0.6);
	/*广告类型文字*/
	text_font_notice: 16 bold;		

	/*右边静音图标*/
	icon_mute_image: "Connectkeyboad_banner_mute";
	icon_mute_right_margin: 5;

	/*左边主要图标*/
	icon_main_right_margin: 11;
	icon_main_left_margin: 13;
	/*连接网页版/mac版*/
	icon_main_image_connect: "Connectkeyboad_banner__icon";
	/*播放音乐*/
	icon_main_image_music: "MusicPlayerIcon";
	/*上传下载聊天记录*/
	icon_main_image_backup: "MessageBackupInTip";
	icon_main_image_restore: "MessageRestorationInTip";
	icon_main_image_restore_fail: "MessageRestorationfailInTip";
	icon_main_image_restore_done: "MessageRestorationdoneInTip";
	/*警告*/
	icon_main_image_alert: "ExclamationMark";
	/*继续阅读*/
	icon_main_image_reading: "tipsbar_icon_reading";
	/*设置头像*/
	icon_main_image_SetAvatar: "Userguide_Avatar_icon";
}

/*置顶列表*/
#base_list{
	cell_bgcolor_PinToTop: #f5f8fe;
}

#mainframe_dropdown{
	wechatlogo_image: "MainFrameLogo";
	wechatlogo_bottom_margin: 25;
    dropdown_backgroud_color : #2f3a3e ;
}

/*loading View*/ 
#LoadingView {
    bgkView_top_margin : 100;
}

/*文字按钮*/
#base_fontbtn {
	text_font: 16;
	text_color: #04be02;
}

